@using Chameleon.Entity;
@using SevenTiny.Bantina.Extensions.AspNetCore;
@using SevenTiny.Bantina.Extensions;
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    List<Menu> menus = (ViewData["Menus"] as List<Menu>) ?? new List<Menu>(0);
    List<Function> functions = (ViewData["Functions"] as List<Function>) ?? new List<Function>(0);
    var functionView = functions.GroupBy(t => t.Group).SafeToDictionary(k => k.Key, v => functions.Where(t => t.Group == v.Key).ToList());

    Profile profile = (ViewData["Profile"] as Profile);

    //菜单
    HashSet<string> permissionMenu = new HashSet<string>(profile.PermissionMenu?.Split(',').ToArray() ?? new string[0]);
    //按钮
    HashSet<string> permissionFunction = new HashSet<string>(profile.PermissionFunction?.Split(',').ToArray() ?? new string[0]);
}
@{
    ViewData["Level_1"] = "身份管理";
    ViewData["Level_2"] = "身份设置";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<article class="page-container">
    <div class="row cl">
        <div class="col-xs-8 col-sm-9">
            <span>当前身份：</span>
            <span style="font-weight:bold">@profile.Name</span>
        </div>
    </div>
    <div class="row cl" style="margin-top:10px;">
        <div class="col-xs-5 col-sm-5">
            <div class="panel panel-success mb-20">
                <div class="panel-header">菜单权限</div>
                <div class="panel-body">
                    <div class="skin-minimal ml-20">
                        @foreach (var item in menus)
                        {
                            <section class="row cl mt-5">
                                <div class="check-box">
                                    @if (permissionMenu.Contains(item.Id.ToString()))
                                    {
                                        <input type="checkbox" class="permissionMenu" id="@item.Id" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="permissionMenu" id="@item.Id">
                                    }
                                    <label for="@item.Id">@item.Name</label>
                                </div>
                            </section>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div class="panel panel-primary mb-20">
                <div class="panel-header">功能权限</div>
                <div class="panel-body">
                    @foreach (var item in functionView)
                    {
                        <div class="panel panel-default mb-20">
                            @{
                                var pannelName = item.Key ?? "默认分组";
                            }
                            <div class="panel-header">@pannelName</div>
                            <div class="panel-body">
                                <div class="skin-minimal">
                                    @foreach (var func in item.Value)
                                    {
                                        <div class="check-box">
                                            @if (permissionFunction.Contains(func.Id.ToString()))
                                            {
                                                <input type="checkbox" class="permissionFunction" id="@func.Id" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="permissionFunction" id="@func.Id">
                                            }
                                            <label for="@func.Id">@func.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9">
            <input class="btn btn-primary radius" type="button" onclick="saveProfile()" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
            <button onClick="javascript: window.location='/Profile/List'" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</article>

@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };

    var permissionMenu = "@profile.PermissionMenu";
    var permissionFunction = "@profile.PermissionFunction";

    var permissionMenuArray = permissionMenu.split(',')
    var permissionFunctionArray = permissionFunction.split(',')

    permissionMenuArray.remove("")
    permissionFunctionArray.remove("")

    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        })
        $('.skin-minimal input').on('ifChecked', function (event) {
            var currentId = event.target.id
            var target = $("#" + currentId);
            if (target.hasClass("permissionMenu")) {
                permissionMenuArray.push(currentId)
            } else if (target.hasClass("permissionFunction")) {
                permissionFunctionArray.push(currentId)
            }
        });
        $('.skin-minimal input').on('ifUnchecked', function (event) {
            var currentId = event.target.id
            var target = $("#" + currentId);
            if (target.hasClass("permissionMenu")) {
                permissionMenuArray.remove(currentId)
            } else if (target.hasClass("permissionFunction")) {
                permissionFunctionArray.remove(currentId)
            }
        });
    });

    function saveProfile() {
         $.ajax({
            type: 'POST',
            url: '/Profile/SettingSave?profileId=@profile.Id',
            dataType: 'json',
             data: {
                 permissionMenu: permissionMenuArray,
                 permissionFunc:permissionFunctionArray
            },
            success: function (data) {
                layer.msg(data.message, { icon: 1, time: 1000 });
                if (data.isSuccess) {
                    setTimeout(function () {
                        window.location='/Profile/List'
                    }, 1000);
                }
            },
            error: function (data) {
                console.log(data.message);
            }
            });
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->