@using Chameleon.Entity;
@using SevenTiny.Bantina.Extensions.AspNetCore;
@using Chameleon.Infrastructure;
@{
    ViewData["Title"] = "MetaObjectTriggerAdd";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    var result = Model as ResponseModel ?? new ResponseModel();
    var entity = result?.Data as TriggerScript ?? new TriggerScript();
}
@{
    ViewData["Level_1"] = "对象设置";
    ViewData["Level_2"] = "新增对象触发器";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<article class="page-container">
    <form class="form form-horizontal validate" id="form-article-add" method="post" action="/TriggerScript/MetaObjectTriggerAddLogic">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>服务方法：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="InterfaceServiceType" class="input select" onchange="MetaObjectInterfaceServiceTypeSwitch(this)" id="InterfaceServiceType" required>
                        <option value="">--请选择--</option>
                        @foreach (var item in InterfaceServiceTypeEnumHelper.GetMetaObjectInterfaceServiceTypeEnums())
                        {
                            <option value="@Convert.ToInt32(item)">@item.GetDescription()</option>
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>脚本语言：</label>
            <div class="formControls col-xs-8 col-sm-3  ">
                <span class="select-box">
                    <select name="Language" class="input select" id="Language" required>
                        @*<option value="">--请选择--</option>*@
                        @foreach (var item in LanguageEnumHelper.GetLanguageEnums())
                        {
                            <option value="@Convert.ToInt32(item)">@item.GetDescription()</option>
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>类全名：</label>
            <div class="formControls col-xs-3 col-sm-3  ">
                <input type="text" class="input-text" value="@entity.ClassFullName" placeholder="" name="ClassFullName" id="ClassFullName" style="background-color:#e8e8e8;" readonly="readonly" required>
            </div>
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>方法名：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="@entity.FunctionName" placeholder="" name="FunctionName" id="FunctionName" style="background-color:#e8e8e8;" readonly="readonly" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>触发器脚本：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea id="codeTextArea" name="script" class="ignore">@entity.Script</textarea>
                <span class="c-red">*提示：F11 全屏模式</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@entity.Group" placeholder="" name="group">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@entity.SortNumber" placeholder="" name="sortNumber">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" class="textarea ignore" placeholder="说点什么...">@entity.Description</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="javascript:history.back(-1);" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (!result.IsSuccess)
                {
                    <br /><br /><pre><span class="c-red">@result.Message</span></pre>
                }
            </div>
        </div>
    </form>
</article>

<link href="~/lib/codemirror-5.43.0/codemirror.css" rel="stylesheet" />
<link href="~/lib/codemirror-5.43.0/theme/cobalt.css" rel="stylesheet" />
<link href="~/lib/codemirror-5.43.0/addon/display/fullscreen.css" rel="stylesheet" />
@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")
<script src="~/lib/codemirror-5.43.0/codemirror.js"></script>
<script src="~/lib/codemirror-5.43.0/mode/clike/clike.js"></script>
<script src="~/lib/codemirror-5.43.0/addon/display/fullscreen.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
        var editor = CodeMirror.fromTextArea($("#codeTextArea")[0], {
        mode: 'text/x-csharp',//编辑器语言
        theme: 'cobalt', //编辑器主题
        extraKeys: {
            "Ctrl": "autocomplete",
            "F11": function (cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
                if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
            }
        },//ctrl可以弹出选择项
        lineNumbers: true,//显示行号
        spellcheck: true,//拼写检查
    });

    $("#InterfaceServiceType").val(@entity.InterfaceServiceType);
    $("#Language").val(@entity.Language);

    //切换服务类型
    function MetaObjectInterfaceServiceTypeSwitch() {
        var serviceType = $("#InterfaceServiceType").val()

        if (serviceType != null && serviceType != '') {
            $.ajax({
                type: 'GET',
                url: '/TriggerScript/GetDefaultTriggerScriptTemplate?interfaceServiceType=' + serviceType,
                dataType: 'json',
                success: function (data) {
                    if (data.isSuccess) {
                        if (data.data != null) {
                            editor.setValue(data.data.script)
                            $("#ClassFullName").val(data.data.classFullName)
                            $("#FunctionName").val(data.data.functionName)
                        } else {
                            editor.setValue('')
                        }
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                }
            });
        }
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->